<h2>Popular Articles (MetaData By CrossRef)</h2>
<div style="display: flex;flex-direction: row; line-height: 1.9em;">
  <ul class="heroes">
    <li *ngFor="let hero of heroes ; let i = index" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <!--{{i}}-->
      <div *ngIf="hero.enrichments.crossref" class="hero-element">
        <div  class="badge">{{hero.enrichments.crossref.message.type}}</div>
        <div>{{hero.title}}</div>
        <div *ngIf="hero.enrichments.crossref.message.author">{{hero.enrichments.crossref.message.author[0].family}}
          , {{hero.enrichments.crossref.message.author[0].given}}</div>
        <div>{{hero.recordId}}</div>
        <div>{{hero.enrichments.crossref.message.created['date-time'].replace('T', '&nbsp;&nbsp;Time:&nbsp;')}}</div>
        <div>{{hero.enrichments.crossref.message.ISSN}}</div>
        <div>Page: {{hero.enrichments.crossref.message.page}} |
          Volume: {{hero.enrichments.crossref.message.volume}}</div>
        <div>Source: {{hero.enrichments.crossref.message.source}}</div>
        <button *ngIf="hero.enrichments.unpaywall && hero.enrichments.unpaywall['best_oa_location'] && hero.enrichments.unpaywall['best_oa_location']['url_for_pdf']" class="delete-button">
          <a
             href="{{hero.enrichments.unpaywall['best_oa_location']['url_for_pdf']}}" target="_blank"
             class="delete-button">Open access By UnPayWall</a>
        </button>

        <div>
          Publisher : {{hero.enrichments.crossref.message.publisher}}
        </div>
        <div style="list-style-type: none;">
          issue : {{hero.enrichments.crossref.message.issue}}
        </div>
        <div *ngIf="hero.enrichments.crossref">
          <span  *ngFor="let author of hero.enrichments.crossref.message.author">{{author.family}}
            , {{author.given}}&nbsp;&nbsp;</span>
        </div>
        <div *ngIf="hero.enrichments.crossref" >
          <span *ngFor="let subject of hero.enrichments.crossref.message.subject" class="badge">{{subject}}</span>
        </div>
      </div>

    </li>
  </ul>
  <!--<div class="selected-hero" *ngIf="selectedHero" style="width: 50%">
    <ul>
      <li>
        Publisher : {{selectedHero.enrichments.crossref.message.publisher}}
      </li>
      <li style="list-style-type: none;">
        issue : {{selectedHero.enrichments.crossref.message.issue}}
      </li>
      <li >
        <span *ngFor="let author of selectedHero.enrichments.crossref.message.author">{{author.family}}, {{author.given}}&nbsp;&nbsp;</span>
      </li>
      <li *ngFor="let subject of selectedHero.enrichments.crossref.message.subject">
        <span class="badge">{{subject}}</span>
      </li>

    </ul>
  </div>-->
</div>


<div class="error" *ngIf="error">{{error}}</div>


<div>
  <style>
    .hidden {
      visibility: hidden
    }
  </style>

</div>
